<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-FileCopyrightText: 2026 the Folio Project
SPDX-License-Identifier: MIT
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSignature</key>
	<string>FOL </string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folio Composer Document</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>app.foliosuite.Composer.Doc</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folio Composer Archive</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>app.foliosuite.Composer.Archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Folio Composer Document</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeSymbolName</key>
				<string>rectangle.split.2x2</string>
				<key>UTTypeIconText</key>
				<string>Document</string>
				<key>UTTypeIconBadgeName</key>
				<string>EditionIcon</string>
				<key>UTTypeIconBackgroundName</key>
				<string>EditionBackground</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>app.foliosuite.Composer.Doc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flcpbundle</string>
				</array>
				<key>com.apple.ostype</key>
				<array>
					<string>FCBK</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pkware.zip-archive</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Folio Composer Archive</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeSymbolName</key>
				<string>rectangle.split.2x2</string>
				<key>UTTypeIconText</key>
				<string>Archive</string>
				<key>UTTypeIconBadgeName</key>
				<string>EditionIcon</string>
				<key>UTTypeIconBackgroundName</key>
				<string>EditionZipBackground</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>app.foliosuite.Composer.Archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flcp</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.app.foliosuite.edition+zip</string>
				</array>
				<key>com.apple.ostype</key>
				<array>
					<string>FCZP</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
